{% extends 'base.html' %}

{% block head %}
<title>Deteksi Awal Gejala Covid-19</title>
{% endblock %}

{% block body %}
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/" method="GET">

            <span class="contact100-form-title">
                POSITIF COVID-19
            </span>
           
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn">
                        <span>
                            Done
                        </span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}