<!DOCTYPE HTML>
<html>

<head>
	<title>Prediksi Covid-19</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}" />
	<noscript>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/noscript.css')}}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>Mari Prediksi Covid-19</h1>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Content -->
			<section id="content" class="main">
				<span class="image main"><img src="{{ url_for('static',filename='img/beratbadan2.jpg')}}"></span>
				<div class="bg-gray-200 min-h-screen pt-2 font-mono my-16">
					<div class="container flex mx-auto">
						<div class="inputs w-full max-w-2xl p-6">
							<h2 class="text-2xl text-gray-900">Klasifikasi Covid-19</h2>
							<form class="mt-6 border-t border-gray-400 pt-4" method="POST" action="">
								<div class='flex flex-wrap -mx-3 mb-6'>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Jenis kelamin</label>
										<select name="jeniskelamin" class="custom-select" id="jeniskelamin" required="">
											<option value="1">Male</option>
											<option value="0">Female</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<br />
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-4'>umur</label>
										<input type="text"
											class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
											id='grid-text-4' type='text' placeholder='Masukkan usia anda'
											name="usia" required>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah anda mengalami demam ?</label>
										<select name="demam" class="custom-select" id="demam" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah anda mengalami batuk ?</label>
										<select name="batuk" class="custom-select" id="batuk" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah anda mengalami pilek ?</label>
										<select name="pilek" class="custom-select" id="pilek" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah anda mengalami nyeri otot ?</label>
										<select name="nyeri" class="custom-select" id="nyeri" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah pernah mengidap penyakit pneumonia ?</label>
										<select name="pneumonia" class="custom-select" id="pneumonia" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah pernah mengidap penyakit diare ?</label>
										<select name="diare" class="custom-select" id="diare" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah pernah mengidap infeksi paru-paru ?</label>
										<select name="infeksiparu" class="custom-select" id="infeksiparu" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Apakah pernah melakukan isolasi sebelumnya ?</label>
										<select name="isolasi" class="custom-select" id="isolasi" required="">
											<option value="1">Ya</option>
											<option value="0">Tidak</option>
										</select>
									</div>
									<div class='w-full md:w-full px-3 mb-6'>
										<label
											class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
											for='grid-text-3'>Pilih model yang diinginkan ?</label>
										<select name="model" class="custom-select" id="model" required="">
											<option value="Logistic">Logistic Regression</option>
											<option value="Dtree">Random Decision Tree</option>
										</select>
									</div>
								</div>
								<br />
								<div align="center" class="flex justify-end ">
									<button
										class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md hover:bg-gray-300"
										type="submit">Get Prediction</button>
								</div>
						</div>
						</form>
						{% if result == 1 %}
						<div class="prediction-result w-full max-w-2xl p-6">
							<h2 class="text-2xl text-gray-900">Hasil Prediksi Covid</h2>
							<h2 class="mx-auto text-3xl text-center px-2 py-2 bg-gray-300 rounded rounded-full mt-5">
								Covid Detected menggunakan Model {{ model_selected }}</h2>
						</div>
						{% elif result == 0 %}
						<div class="prediction-result w-full max-w-2xl p-6">
							<h2 class="mx-auto text-3xl text-center px-2 py-2 bg-gray-300 rounded rounded-full mt-5">
								Covid No Detected menggunakan Model {{ model_selected }}</h2>
						</div>
						{% endif %}
					</div>
				</div>
			</section>

		</div>

		<!-- Footer -->
		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2>Group Name</h2>
				<ol>
					<li>Muhammad Hafizh Azzasafah</li>
					<li>Dyah Ayu Wulandari</li>
					<li>Abi Aryaza</li>
				</ol>
				<ul class="actions">
					<li><a href="generic.html" class="button">Get Prediction</a></li>
				</ul>
			</section>
			<section>
				<h2>Orbit Future Academy</h2>
				<dl class="alt">
					<dt>Address</dt>
					<dd>Veteran RI Building 15th Floor Plaza Semanggi, Jl. Jend. Sudirman No.Kav. 50, RT.1/RW.4, Karet
						Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12930</dd>
					<dt>Phone</dt>
					<dd>0822-6076-0513</dd>
					<dt>Email</dt>
					<dd><a href="mailto:info@orbitfutureacademy.id">info@orbitfutureacademy.id</a></dd>
				</dl>
				<ul class="icons">
					<li><a href="https://twitter.com/orbitacademyid" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/orbitfutureacademy/"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/orbitfutureacademyid"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
				</ul>
			</section>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrollex.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>