<!DOCTYPE HTML>

<html>

<head>
	<title>Orbit Future Academy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}" />
	<noscript>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/noscript.css')}}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<span class="logo"><img src="{{ url_for('static',filename='img/logo.png')}}"></span>
			<h1>Orbit Future Academy</h1>
			<p>AI Mastery Program | Tugas Teknikal Berat Badan<br />
				by Safah, Dyah, Abi
			</p>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#intro" class="active">Introduction</a></li>
				<li><a href="#first">Group Name</a></li>
				<li><a href="#second">Task</a></li>
				<li><a href="#cta">Get Prediction</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Bagaimana Cara Menghitung Berat Badan Ideal?</h2>
						</header>
						<p>Berat badan ideal adalah berat badan yang dianggap paling menyehatkan bagi seseorang dengan
							mengacu pada tinggi badannya. Dengan kata lain, berat badan inilah yang akan memberikan
							angka harapan hidup paling tinggi bagi Anda.</p>
						<ul class="actions">
							<li><a href="https://hellosehat.com/nutrisi/cara-menghitung-berat-badan-ideal/"
									class="button">Lihat Selengkapnya...</a></li>
						</ul>
					</div>
					<span class="image"><img src="{{ url_for('static',filename='img/beratbadan1.jpg')}}" /></span>
				</div>
			</section>

			<!-- First Section -->
			<section id="first" class="main special">
				<header class="major">
					<h2>Group Name</h2>
				</header>
				<ul class="features">
					<li>
						<span class="icon solid major fa fa-mars"></span>
						<h3>Muhammad Hafizh Azzasafah</h3>
						<p>Kelas Jatayu</p>
					</li>
					<li>
						<span class="icon solid major fa fa-venus"></span>
						<h3>Dyah Ayu Wulandari</h3>
						<p>Kelas Jatayu</p>
					</li>
					<li>
						<span class="icon solid major fa fa-mars"></span>
						<h3>Abi Aryaza</h3>
						<p>Kelas Jatayu</p>
					</li>
				</ul>
			</section>

			<!-- Second Section -->
			<section id="second" class="main special">
				<header class="major">
					<h2>Task</h2>
					<p>Buat Aplikasi Web (Tampilan/UI Web dan API) menggunakan Flask untuk memprediksi berat badan
						berdasarkan tinggi badan dan jenis kelamin.</p>
				</header>
				<p class="content">
				<div align="left"> Model yang digunakan adalah Regresi Linier
					<ul>
						<li>X1 (Feature) : Tinggi badan</li>
						<li>X2 (Feature) : Jenis Kelamin</li>
						<li>Y (Target) : Berat Badan</li>
					</ul>
					Upload Dataset yang digunakan dapat di-download di sini : https://bit.ly/3LRU8Et. Form Pengumpulan
					Tugas
					: https://forms.gle/Mju9XdVEYgB1gh4a8. Upload Screenshot Tampilan Web (Input dan Hasil Prediksi)
					yang
					telah dibuat
					Upload File Zip berisi :
					<ol>
						<li>Kode Python Flask App [Web Server dan API]</li>
						<li>Jupyter Notebook untuk Train dan Export Model Regresi Linier</li>
						<li>Model Hasil Training</li>
						<li>Template Web HTML</li>
						<li>Assets/Gambar untuk Tampilan Web</li>
						<li>File Pendukung Lainnya</li>
					</ol>
				</div>
				</p>
			</section>

			<!-- Get Started -->
			<section id="cta" class="main special">
				<header class="major">
					<h2>Get Prediction</h2>
					<p>Tugas Teknikal Memprediksi Berat Badan</p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a href="generic.html" class="button primary">Get Started</a></li>
					</ul>
				</footer>
			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2>Group Name</h2>
				<ol>
					<li>Muhammad Hafizh Azzasafah</li>
					<li>Dyah Ayu Wulandari</li>
					<li>Abi Aryaza</li>
				</ol>
				<ul class="actions">
					<li><a href="generic.html" class="button">Get Prediction</a></li>
				</ul>
			</section>
			<section>
				<h2>Orbit Future Academy</h2>
				<dl class="alt">
					<dt>Address</dt>
					<dd>Veteran RI Building 15th Floor Plaza Semanggi, Jl. Jend. Sudirman No.Kav. 50, RT.1/RW.4, Karet
						Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12930</dd>
					<dt>Phone</dt>
					<dd>0822-6076-0513</dd>
					<dt>Email</dt>
					<dd><a href="mailto:info@orbitfutureacademy.id">info@orbitfutureacademy.id</a></dd>
				</dl>
				<ul class="icons">
					<li><a href="https://twitter.com/orbitacademyid" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/orbitfutureacademy/"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/orbitfutureacademyid"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
				</ul>
			</section>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>